<!DOCTYPE html>
<html>
	<head>
		<title>ODIN library: API-Doc</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- core CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" />
		<!-- Custom styles -->
		<link rel="stylesheet" href="./css/main.css" />
	</head>
	<body>
		<!-- GitHub Ribbon -->
		<div class="ribbon">
			<a href="https://github.com/incowia/odin-library">Fork me on GitHub</a>
		</div>
		<!-- Main content -->
		<span id="top"></span>
		<div class="odin-navigation">
			<nav class="nav nav-pills nav-fill">
				<a class="nav-item nav-link h5" href="index.html">About</a>
				<a class="nav-item nav-link h5" href="getting-started.html">Getting Started</a>
				<a class="nav-item nav-link h5 disabled" href="#">API-Doc</a>
			</nav>
		</div>
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="display-2">API-Doc</h1>
				</div>
			</div>
			<div class="row odin-documentation">
				<div class="col">
					{{> menu}}
					{{{body}}}
				</div>
			</div>
		</div>
		<!-- Footer -->
		<div class="container-fluid odin-navigation">
			<div class="row justify-content-center">
				<div class="col-4 text-center">
					ODIN library is open source<br/>
					Find us <a href="https://github.com/incowia/odin-library">on GitHub</a>
				</div>
				<div class="col-4 text-center">
					Maintained by incowia GmbH<br/>
					Get in touch <a href="http://www.incowia.de/">with us</a>
				</div>
			</div>
		</div>
	</body>
</html>
